@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');
body{
	font-family: 'Open Sans', sans-serif;
}
html{
	scroll-behavior: smooth;
}
*{
	margin: 0;
	padding: 0;
}
.container{
	margin: 0 auto;
	width: 100%;


}
.logo{
	width: 30%;
	height: 70px;
	background-color:#F6A6A7;
	float: left;

}
.menu{
	width: 70%;
	height: 70px;
	background-color:#F6A6A7;
	float: right
}
.menu ul{
	list-style: none;
	display: flex;
	justify-content: center;
	padding: 30px;

	
}
.menu ul li{
	margin-left: 100px;	
	position: relative;
}
.menu ul li a{
	text-decoration: none;
	color: white;
}
.menu a:hover{
	color: #959191
}
.menu ul li ul{
	position: absolute;
	flex-direction: column;
	left: -130px;
	top: 10px;
	visibility: hidden;

}
.menu ul li ul li{
	width: 150px;
	background-color:#898484;
	box-sizing: border-box;
	padding: 10px 5px 5px 15px;
}
.menu ul li:hover ul{
	visibility: visible;
}
.banner video{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.textbox{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);text-align: center;
	
	color: white;
	padding: 35px 50px 50px;
}
.textbox h3{
	font-weight: 400;
	letter-spacing: 6px;
	word-spacing: 10px;
	text-transform: uppercase;
	
}
.textbox{
	font-size: 15px;
	margin-bottom: 60px;
}
.textbox p{
	font-size: 15px;
	margin: 30px auto 60px;
}

.textbox a{
	color: white;
	text-decoration: none;
	text-align: none;
	padding: 20px 40px;
	border:  1px solid;
	letter-spacing: 3px;
	font-size: 14px;
	margin-top: 40px;
}
.textbox a:hover{
	background-color: black;
	color: white;
}
.gioithieu{
	width: 100%;
	height: 100vh;
	background-color: white;
	display: flex;
}
.gttrai{
	width: 50%;
	background-color: white;
	padding-top: 50px;
	padding-left: 45px;
	padding-right: 10px;
	box-sizing: border-box;
}
.gttrai a{
	color: white;
	background-color:#F6A6A7;
	text-decoration: none;
	text-align: none;
	padding: 20px 40px;
	border:  1px solid;
	letter-spacing: 3px;
	font-size: 14px;	
	margin-bottom: 30px;
	border-radius: 5px;
}
.gttrai a:hover{
	background-color: white;
	color: black;
}
.gttrai p{
	margin: 25px 10px 80px;
}
.gtphai{
  	overflow:hidden;
}
.dichvu{
	width: 100%;
	height: 110vh;
	background-color: #F8F9FA;
}
.dichvu{
	padding-top: 30px;
}
.bangdv{
	margin-top: 30px;
	display: flex;
}
.trai{
	width: 400px;
	height: 650px;
	background-color: white;
	margin-left: 60px;
	border:solid thin #D7D7D7
	
}
.hinh1{
	width: 100%;
	height: 45%;
	overflow: hidden;
}
.listtrai{
	padding: 5px 25px;
	box-sizing: border-box;
}
.listtrai ul{
	list-style: none;
	padding: 10px;
}
.listtrai ul li{
	margin: 10px;
}

.listtrai a{
	text-decoration: none;
	color: white;
	background-color:#F6A6A7;
	padding: 20px;
	border-radius: 5px;
}
.listtrai a:hover{
	background-color: white;
	color: black;
	border: solid thin #C78880
}

.listtrai h3{
	margin-bottom: 40px;
}

.giua{
	width: 400px;
	height: 650px;
	margin: 0 50px;
	background-color: white;
	border:solid thin #D7D7D7

}
.phai{
	width: 400px;
	height: 650px;
	margin-left: 0;
	background-color: white;
	border:solid thin #D7D7D7;
}
.hinh2{
	overflow: hidden;
	height: 45%;
}
.hinh3{
	overflow: hidden;
	height: 45%;}
.lienhe{
	width: 100%;
	height: 50vh;
	background-color: antiquewhite;
}
.lienhe{
	padding: 32px;
	background-color:#444444;
	box-sizing: border-box;
}
table{
	margin: 0 auto;
	border: none
}
table td{
	padding-left: 30px;
	padding-top: 50px;
	border: none;
	
}
input{
	height: 50px;
	width: 400px;
	box-sizing: border-box;
	padding-left: 8px;
	outline:none;
	border-bottom-color: #CAC6C7;
	border-radius: 5px;
	border-width: 1px;
}
button{
	width: 100%;
	padding: 16px;
	border-radius: 10px;
	border: none;
	background:#F6A6A7;
	color: white;
	font-size: 16px;
	cursor: pointer;
}
.footer{
	width: 100%;
	height: 35vh;
}
.linklogo{
	padding: 35px;
}
.linklogo a {
	margin: 25px;
	font-size: 30px;
}
.dc{
	padding: 30px;
}
.dc a{
	text-decoration: none;
}
.footer h2{
	font-weight:400 ;
	letter-spacing: 6px;
}




















